<div class="headerTemplate">
	<div class="logo">
		<img src="{{data.platform_logo}}" alt="">
	</div>
	<div class="header-text">
		企业入驻
	</div>
	<div class="header-logout">
		退出
	</div>
	<div class="header-user">
		用户名：<span>{{data.username}}</span>
	</div>
</div>
